DATABASE_URL="mysql://root@localhost/pathways"
AUTH_SECRET="secret_for_local_dev_only_change_in_prod"
AUTH_URL="http://localhost:3000"
BLOB_READ_WRITE_TOKEN=""
RESEND_API_KEY=""
EMAIL_FROM="Pathways <noreply@example.com>"
